node_modules/
dataset/
demo_data/
data/raw/
__pycache__/
*.pyc
.pytest_cache/
frontend/dist/
.env
*.pdf
!sample_reports/*.pdf
other_proj/
delete_database/
logs/
*.log
*.db
venv/
fresh_venv/
.vscode/
temp_uploads/
demo_project/
demo_projects/
